html{
  font-size: 18px;
  font-family: helvetica;
}

body{
  background-color: black;
}


/*Header*/

header{
  display:flex;
  justify-content: center;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 960px;
    padding: .66rem 0rem;
}
.logo img{
  height: 1.5rem;
  margin-right:1rem;
  margin-left: 0.5rem;
}

.logo span{
  color: white;
}

/*Main Banner*/

.main-banner{
  background-image: url("../images/motobanner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display:flex;
  justify-content: center;
}

.container{
  width: 960px
}

.headline{
  padding-top:2rem;
  padding-left: 3rem;
  margin-top:9rem;
  background-color: black;
  color:white;
  width:20rem;
}

.headline h4, h1{
  font-weight: bold;
}

.headline h1{
  padding-top:.25rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}

/*Navigation Bar*/

nav{
  display:flex;
  background-color: firebrick;
  justify-content: center;
  color:white;
  height:2.5rem;
  align-items: center;
}

nav ul{
  display: flex;
  width: 960px;
  justify-content: space-between;
}

nav2{
  display:none;
}
/*Products*/

.contain{
  display:flex;
  justify-content: center;
  background-color: white;
}

.products{
  width:960px;
  display: flex;
  justify-content: space-between;
}

.pen, .watch, .glasses{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
}

.pen img{
  margin: 2rem auto;
  height: 9rem;
  width: 9rem;
}

.pen span{
  background-color: black;
  color:white;
  text-align: center;
  width:100%;
  padding-top:.5rem;
  padding-bottom: 0.5rem;
}

.watch img{
  margin: 2rem auto;
  height: 9rem;
  width: 9rem;
}

.watch span{
  background-color: black;
  color:white;
  text-align: center;
  width:100%;
  padding-top:.5rem;
  padding-bottom: 0.5rem;
}

.glasses img{
  margin: 2rem auto;
  height: 9rem;
  width: 9rem;
}

.glasses span{
  background-color: black;
  color:white;
  text-align: center;
  width:100%;
  padding-top:.5rem;
  padding-bottom: 0.5rem;
}

/*Business info*/

.business-info{
  padding-top:3rem;
  padding-bottom:4rem;
  width:960px;
  display: flex;
  justify-content: space-between;
}

.info{
  display:flex;
  flex-direction: column;
  width:35%
}

.title{
  color:white;
  background-color: black;
  padding-left:2rem;
  padding-top: 1rem;
  padding-bottom:1rem;
}

.coord{
  margin-top:5px;
  margin-left:2px;
}

/*Footer*/

footer{
  display: flex;
  justify-content: center;
}

.container2{
  display:flex;
  align-items: center;
  width:960px;
  height:5rem;
  color:white;
}

/*Tablet screens*/

@media only screen and (max-width: 1024px){
  nav2{
    display:flex;
    background-color: firebrick;
    justify-content: center;
    color:white;
    height:2.5rem;
    align-items: center;
  }

  nav2 ul{
    display: flex;
    width: 960px;
    justify-content: center;
  }

  nav{
    display:none;
  }
  .container{
    width:100%;
  }

  .pen, .watch {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width:47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
  }

.glasses{
  display:none;
}
}

/*Mobile Screens*/

@media only screen and (max-width: 470px){

.logo span{
  display:none;
}

.logo{
  justify-content: center;
}

.main-banner{
  height: 15rem;
}

.container{
  width: 100%;
}

.headline{
  padding-top:1rem;
  padding-left: 2rem;
  margin-top:10rem;
  background-color: black;
  color:white;
  width:100%;
}

.headline h4, h1{
  font-weight: bold;
}

.headline h1{
  padding-top:.5rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.headline h4{
  font-size: .77rem;
}

  .products{
    display: flex;
    justify-content: center;
  }
  .pen{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
  }

.glasses, .watch{
  display:none;
}

.contain{
  display:flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}


.business-info{
  padding-top:3rem;
  padding-bottom:4rem;
  width:90%;
  display: block;
  justify-content: center;

}

.info{

  padding-top:3rem;
  padding-bottom:4rem;
  display:flex;
  flex-direction: column;
  width:100%
}

.coord{
  margin-top:5%;
  margin-left:2%;
}

.container2{
  width: 100%;
  justify-content: center;
}

}
